html(lang='en')
  head
    <script type='text/javascript' src="../js/cart.js"> </script>
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="stylesheet", href= "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Poppins:wght@600&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    style
      include ../css/style.css
      include ../css/explore.css
      include ../css/category.css
      include ../css/about.css
      include ../css/home.css
      include ../css/product.css
      include ../css/dropdown.css
      include ../css/cart.css
      include ../css/admin.css
      

    if title
        title ShopIt - #{title}
    else 
        title ShopIt
    
    
    body
    
      
      div( id='container' )
          
          div( class= "nav-bar1" id='myTopnav' )
              a.nav-link(href="javascript:void(0);" class="icon" onclick="myFunction()")
                i(class="fa fa-bars")
              
              a.nav-link.hide(href='/' class='badge') ShopIt
              
              a.nav-link.hide(href='/' class= "badge  " id="text") Home
              a.nav-link.hide(href='/explore' class= " badge" id="text") Categories
                
              a.nav-link.hide(href='/about' class= "badge " id="text") About
              form(id='myForm' method="post" action='/search')
                input.nav-link.show(class='search' name='key' placeholder='search' type='search') 
                button.nav-link.show(class='badge btn  search-btn' style="submit" onclick="document.getElementById('myForm').submit();")
                  i(class="fa fa-search")
          
              button.show(id='openbtn1'  class='btn search-btn' )
                <i class="fa fa-shopping-bag"></i>
              if user
                .dropdown.show
                  div(class='user')
                    button.btn.search-btn
                      i(class="fa fa-user")
                  
                  .dropdown-content
                    a(href='#') Profile
                    a.som(href='/logout') Logout       
          div.show(id='mySideBar' class="sidebar")
                a#close-btn.closebtn x
                div
                  
                  h2 Shopping Cart
                  hr 
                  .cart-items(id ='cart-id')
                  hr
                  .cart-totals
                    a#total total : $0.00
                    hr
             
        
      .content-div
        block content