html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="stylesheet", href= "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Poppins:wght@600&display=swap" rel="stylesheet")
    style
       include ../css/style.css
       include ../css/explore.css
       include ../css/category.css
       include ../css/about.css
       include ../css/home.css

    if title
        title ShopIt - #{title}
    else 
        title ShopIt
    
    
    body
      
      div(style ="nav-bar1 " class=' ' id='container' )
        form(class = " nav-bar1")
            a.nav-link(href='/' class=' nav-icon ') ShopIt
            div(class = "nav-text") 
              a.nav-link(href='/' class= "badge  " id="text") Home
              a.nav-link(href='explore' class= " badge" id="text") Categories
              a.nav-link(href='about' class= "badge " id="text") About
              input(class='search ml-5' placeholder='search' type='text') 
              button(class='btn  search-btn ') Search
            
            if user
            .dropdown
              button.dropbtn
              |  #{user} 
              i
              .dropdown-content
                a(href='#') Profile
                a(href='/logout') Logout
      
    block content
    
    


    