extends base.pug


block content
    
    div.dexy-content( style="padding : 15px 25% ")
        div.dexy-form
            h2.h-text Change Password
            hr
            if msg
                a(class="msg-text" id="msg") #{msg}
                br
                hr
            
            a(class="msg-text" id="msg" )
            br
            form(method="GET" action ="/chpasswd?submit=sub" class = " m-2" content-align = "center" ) 
                // form( class = " m-2" content-align = "center" )

                div#dexy-form
                    input(type="hidden" value=`${user_id}` name="user_id" id="user_id")
                    .form-group.dexy-group
                        label(for='exampleInputEmail1') New Password
                        input.dexy-input.form-control.in-style(type='password' aria-describedby='emailHelp' id="password" name = "password" required)
                        small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
                    .form-group.dexy-group
                        label(for='exampleInputPassword1') Retype Password
                        input.dexy-input.form-control.in-style(type='password' name="cpassword" required)
                    .form-group.form-check
                        
                    input#chpasswd.btn.btn-danger.search-btn(type='submit' name="sub" ) 
                    small(style="padding-left:15px;")
                        a( class= "m-2") you don't have an account ?
                        a(href='/sign-in' class= "m-2") Sing-in

    //script(type='text/javascript' src="../js/chpasswd.js")
            
            