extends base.pug

block content 
    .categories(style ="margin-top:10%; margin-bottom:10%;")
        .container
            div.box
                a(href = '/product') madjid
                p fjldsdfjl
            .box
                a madjid
                p welqurpy
            .box
                a madjid
                p welqurpy
            .box
                a madjid
                p welqurpy
            .box
                a madjid
                p welqurpy
            .box
                a madjid
                p welqurpy
            .box
                a madjid
                p welqurpy
            .box
                a madjid
                p welqurpy
            .box
                a madjid
                p welqurpy
            .box
                a madjid
                p welqurpy
            .box
                a madjid
                p welqurpy
            .box
                a madjid
                p welqurpy 