extends base.pug

block content 
    .categories(style ="margin-top:10%; margin-bottom:10%;")
        .container
            .box
                a.home-txt(href = '/product/Books') Books
                
            .box
                a.home-txt(href = '/product/Computing') Computing
                
            .box
                a.home-txt(href = '/product/Electronics') Electronics
                
            .box
                a.home-txt(href = '/product/Fashion') Fashion
               
            .box
                a.home-txt(href = '/product/Shoes') Shoes
                
            .box
                a.home-txt(href = '/product/Health&Beauty') Health & Beauty
               
            .box
                a.home-txt(href = '/product/Supermarket') Supermarket