extends base.pug

block content 
    .categories(style ="margin-top:10%; margin-bottom:10%;")
        .container
            div.box
                a.home-txt(href = '/product') Books
                
            .box
                a Computing
                
            .box
                a Electronics
                
            .box
                a Fashion
               
            .box
                a Shoes
                
            .box
                a Sporting goods
               
            .box
                a Supermarket
                