extends base.pug


block content
  
  if login
    a( class= "nav-link badge m-2" ) LogedIn
  
  
  .home
    form( class="content" style=" color:#ffffff")
        
        br
        if !user
          h3.home-txt You already have an account ? :
          a.link.nav-link(href='/log-in' style="" ) Login 
          br
          h3(class="home-txt" ) You don't have an account ? you can create one :
          a.nav-link.link(href='/sign-in' style = " ") Sign in
  script.
        var ExButt = document.getElementById("exbutt");
        ExButt.addEventListener("click", () => {
          window.location= './explore.pug'
        });
