extends base.pug

block content 
    .products(style ="margin-top:10%; margin-bottom:10%;")
        .product-card
            .product-image
                img(src='images/books.jpg')
                .product-info
                    h4 Winter Jacket
                    h6 $99.99
                    p Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
                    button(class='btn  search-btn ') Add to Cart
        .product-card
            .product-image
                img(src='images/books.jpg')
                .product-info
                    h5 Winter Jacket
                    h6 $99.99
                    p Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
        .product-card
            .product-image
                img(src='images/books.jpg')
                .product-info
                    h5 Winter Jacket
                    h6 $99.99
                    p Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
        .product-card
            .product-image
                img(src='images/books.jpg')
                .product-info
                    h5 Winter Jacket
                    h6 $99.99
                    p Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.
