extends base.pug

block content 
    if isEmpty
        h4.text-danger there is no item in this category. #{isEmpty}
    else
        each row in rows
            .products(style ="margin-top:10%; margin-bottom:10%;")
                .product-card
                    form(id = 'prct') 
                        .product-image
                            img(src='../images/products' + row.ImgUrl)
                            .product-info( id ='prct')
                                h4(id='name') #{row.NAME}
                                h6(id='price') #{row.PRICE}$
                                p( id='description') #{row.DESCRIPTION}
                                button(class='btn  search-btn ' id='AddToCart' type='submit') Add to Cart
        
    
    <script type='text/javascript' src="js/CartItems.js"> </script>
    