extends base.pug

block content 
    
    if isEmpty
        h2.text-danger there is no item in this category. 
    else
        .products     
            each row in rows
                .product-card
                    .product-image
                        img(src='../images/products' + row.ImgUrl)
                        .product-info( id ='prct')
                            a(id='name') #{row.NAME}
                            br
                            a(id='price') #{row.PRICE}$
                            br
                            p( id='description') #{row.DESCRIPTION}
                            -var r = JSON.stringify(row)
                            button(class='btn  search-btn ' id='AddToCar' data-id= r) Add to Cart
                
                
                
                
                
                
                
                
                

    

            
    <script type='text/javascript' src="../js/CartItems.js"> </script>
    