extends base.pug

block content
  .dexy-content
    .dexy-form
      form#dexy-form.sign-in.m-2.content(method="post" action="/sign-in" s style="")
        h2 Sign in
        hr
        if msg
          a #{msg} 
          br
        .form-group.dexy-group
          h5.si-name First name :
          input.dexy-input(class ="form-control" type='text', placeholder='Enter your first name.', required='' name='firstname')
          br
        .form-group.dexy-group
          h5 Last name :
          input.dexy-input(class ="form-control" type='text', placeholder='Enter your last name.', required='' name='lastname')
          br
        .form-group.dexy-group
          h5 Email :
          input.dexy-input(class ="form-control" type='email', placeholder='Enter your email name.', required='' name='email')
          br
        .form-group.dexy-group
          h5 Password :
          input.dexy-input(class ="form-control" type='password', placeholder='Enter your password.', required='' name='password')
          br
        .form-group.form-check.m-2.dexy-group
            input(class ="form-check-input" type='checkbox', required='')
            label.form-check-label I agree on terms and conditions
        br
        a(href='/explore')
          button( class=" bttn btn btn-primary" style="margin-left: 40%;") Create
    
    
    
    
    
