extends base.pug

block content
  form.sign-in.m-2.content(method="post" action="/sign-in" s style="padding : 15px 25%")
    h2 Sign in
    hr(style='width:300px; margin-left:0px;')
    if msg
      a #{msg} 
      br
    .form-group  
      h5.si-name First name :
      input(class ="form-control" type='text', placeholder='Enter your first name.', required='' name='firstname')
      br
    .form-group
      h5 Last name :
      input(class ="form-control" type='text', placeholder='Enter your last name.', required='' name='lastname')
      br
    .form-group
      h5 Email :
      input(class ="form-control" type='email', placeholder='Enter your email name.', required='' name='email')
      br
    .form-group
      h5 Password :
      input(class ="form-control" type='password', placeholder='Enter your password.', required='' name='password')
      br
    .form-group.form-check.m-2
        input(class ="form-check-input" type='checkbox', required='')
        label.form-check-label I agree on terms and conditions
    br
    a(href='/explore')
      button( class=" bttn btn btn-primary" style="margin-left: 40%;") Create
    
    
    
    
    
