.ad-login {
    margin-top :10% ; 
    margin-left : 40% ;
    justify-content: space-between;
    width : 40%
}
.ad-login a {
    margin-right : 3%;
    margin: 10px 15px 10px 10px;
}
.ad-login a input {
    margin-left: 10%;
}
.ad-login input {
    font-family: "Roboto" ,serif;
    width: 90%;
    
}
.admin-board{
    margin-left: 5%;
    margin-top : 10%;
    font-family: 'Poppins', sans-serif;
}
.custom {
    background-color: rgb(224, 224, 224);
    
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
      border-radius: 20px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 99%;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }