.sidebar {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 100;
  
  
  right: 0;
  background-color: rgb(250, 250, 250);
  overflow-x: hidden;
  transition: 0.3s;
  /*padding-top: 60px;*/
  font-family: 'Poppins', sans-serif;
  
  
  
}
.sidebar h2 {
  margin-bottom: 5%;
  margin-top: 10%;
}
.sidebar  {
 
  text-align: center;
  font-size: 13px;
}
.cart-item div{
  margin-left:30px;}
.sidebar .cart-text {
  font-family: 'Poppins',sans-serif;
  padding-inline-end: 50px;
 
  text-decoration: none;
  font-size: 15px;
  color: #818181;

  transition: 0.1s;
}

.sidebar a:hover {
  color: rgb(2, 206, 145);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  
  border: none;
  right: 0;
  border: 1px solid seashell;
    border-radius: 20px;
    color: snow;
    padding: 4px 30px;
    background-color: rgb(2, 206, 145);
}

.openbtn:hover {
  background-color: rgba(255, 0, 55, 0.856);
}

#main {
  transition: .5s;
  padding: 16px;
}
.closebtn{
  cursor: pointer;
  
  right: 0;
  top: 0;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.content-div{
  width: 100%;
  display: block ; 
  margin-top:120px; 
  margin-bottom:10%;  
  text-align: center;
  justify-content : center;
 
}
.cart-items{
  width: 100%;
}
.cart-item img{
  display: flex;
  left: 0;
}
.cart-item{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 5%;
  width: 100%;
}
.cart-column{
  width:30%;
  display: inline;
  position: absolute;
  right:15%;
}
.cart-quantity-input{
  width: 45px;
  display: inline;
  position: relative;
  height: auto;
  text-align: center;
  padding : 0;
}
.content-item{
  display: flex;
    justify-content: center;
  margin-left: 20px;
}
