*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.categories {

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;
   
    width: 100%;
}
.container{
    width: 100%;
    height: auto;
    margin : 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit , minmax(200px , 2fr));
    grid-gap : 40px;
}
.box{
    border-radius: 40px;
    margin : 0px;
    padding: 50px;
    background-color: rgb(3, 228, 160);
    color: white;
    text-align : center;
    
    box-shadow : 0 2px 5px rgba(0, 0, 0, 0.3), 0 1px 10px rgba(0, 0, 0, 0.2);
}
.box a {
    color: white;
    font-family: 'Poppins', sans-serif;
}