.grid-container {
    margin-top: 20px ;
    width : 75%;
    height: 70%;
    margin-left :12%;
    display: grid;
   
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
    background-color: #00000000;
    padding: 0px;
  }
  
  .grid-container > div {
      border-radius: 15px;
     
    color : #ffffff; 
    box-shadow:inset 0 0 0 2000px rgba(58, 58, 58, 0.483);
    text-align: center;
    padding: 35%  0;
    font-size: 30px;
  }
 
  .item1 a {
    margin-bottom: 90%;
    

  }
  .item-text {
    margin-bottom: 90%;
    color: white;
    
    justify-content: center;
    text-align: center;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
  }
  .item-text:hover {
    text-decoration: wavy;
    outline: hidden;
    color : white;
  }
  .item-text:active {
    color: white;
    outline-style: hidden;
    text-shadow: white;
  }

  