.products {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 30%);
    
  }
  .product-card p{
    font-size: 13px;
    font-weight:400;
  }
.product-card {
  color : #ddd;
  min-width: 300px;
  padding: 2rem 1rem 2rem 1rem;
  max-width: 20%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #202225;
    stroke: black;
    stroke-width: 2px;
    border-radius: 8%;
    flex-shrink: 1;
    flex-basis: 16%;
    margin: 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
  }
.product-image img {
    border-radius: 10%;
    max-width: 90%;
    max-height: 90%;
     
   
    
  }
.product-info {
    margin-top: auto;
  }
@media (max-width: 90%) {
    .product-card {
      flex: 12 50%;
    }
    
  }
@media screen and  (max-width: 768px){
    .products{
      
      grid-template-columns: fit-content(60%);
    }
    .product-card {

      max-width: 100%;
      width : 100%;
    }
  }