@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@900&display=swap');
.nav-tweak{
    height: 50px;
    
}
.login{
    width:50%;
    border-radius: 40px;
    border: 1px solid black;
    margin: 30px;
    padding: 10px;
    
}

body
{   
    scroll-behavior: smooth;
    
    font-family: 'Roboto',sans-serif;
    margin : 0px ;
    margin-bottom: 0px;
    background-color: rgb(238, 238, 238);
    
    display: flex;
    
}

.bttn
{
    color: white;
    border-radius: 40px; font-size:30px ;
    background-color: rgb(2, 206, 145);
    font-size: 20px;
    padding : 10px 40px;
    border: unset;
    
    
}
.bttn:hover{
    border: unset;
    box-shadow: 1px 1px 1px 1px  rgba(0, 0, 0, 0.281);
    background-color:rgba(255, 94, 0, 0.938) ;
    color: white;
}

 

.main {
    
    margin-left : 10%;
    margin-top : 8%;
    
}
.si-name
{
    padding-bottom: 10px;
}


.nav-bar1 {
    background-color: rgb(255, 255, 255);
    /* overflow: hidden; */
    display: flex;
    /*box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.164);*/
    font-size: 30px;
    color : #141414;
    margin-bottom: 10%;
    position: fixed;
    width: 100%;
    height: 10%;
    align-items: center;
    padding : 0 ;
    display: flex;
    margin-right: 50%;
    
    /*justify-content: center;*/
    
    
}
.nav-bar1 a {
    margin-left: 1%;
    
   padding : 5px ;
    align-items : center;
    text-align: center;
    display: flex;
    
    
}
.nav-bar1 a:hover {
    color: rgb(0, 255, 149);
    
    border-radius: 0px;
    
    
}

.nav-text{
    align-items: center;
    display: flex;
    padding: 14px 16px;
     margin-left: 10%;
    justify-content: center;
}

.overlay {
    position: absolute; /* Sit on top of the page content */
     /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(114, 114, 114, 0.296); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  .nav-link{
      text-decoration: none;
      font-size: 20px;
      padding : 0px 4px;
      color:#020202;
      font-family: 'Poppins', sans-serif;
      
  }

  
  .nav-icon {
     
      color:#ffffff;
      font-size: 30px;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
  }
  .search{
      box-shadow: 0 0 1pt 1pt rgb(2, 206, 145);
      outline-style: unset;
      color:#111111;

      padding : 0px 80px;
      font-size: 15px;
      height :35px;
      width: 350px;
      align-items: center;
      text-align : center;
      border-radius: 20px ;
      font-family: 'PT Sans', sans-serif;
      border : 1px solid #00000000;
      
      
  }
  .search-btn:hover{
      color: snow;
      padding : 5px 30px;
      background-color:rgba(255, 0, 55, 0.856) ;
      margin-left: 10px ;
      height :40px;
      font-size: 15px;
      margin-top: 0px;
      text-align: center;
      
}

.search-btn{
    border: 1px solid seashell;
    border-radius: 20px;
    
    color: snow;
    padding : 0px 30px;
    background-color :rgb(2, 206, 145);
      margin-left: 10px ;
      height :40px;
      font-size: 15px;
      margin-top: 0px;
      text-align: center;
      
  }
  
  .link{
      color: blue;
  }
 .link:hover{
    text-shadow: 1px 1px 1px 1px black;

 }
 
 .msg-text{
    color: rgb(255, 71, 71);
     font-size : 17px;
     
    
 }
 .icon{
     display: none;
 }
 .nav-bar1 a.icon {
    display: none;}
 @media screen and (max-width: 768px) {
   
    .nav-bar1 .hide {display: none;}
    .nav-bar1 a.icon {
      float: right;
      display: block;
    }
    
  }
  @media screen and (max-width: 768px) {
      
    .nav-bar1.responsive .show {display: none;}
    .nav-bar1.responsive {
        
    margin : 0 auto;
    position: fixed;
    display: grid;
    column-gap :0px ;
    grid-template-columns: auto;
    height: 100%;
    width: 100%;
    padding : 15px;
}

.search{
    margin: 0 auto;
    height :30px;
  width: 100%;
}
    .nav-bar1.responsive .icon {
      position: absolute;
      top:0;
      right: 0;
      
      
    }
   
   
    .nav-bar1.responsive a {
      float: none;
      display: table-row;

      
    }
}

  
