extends base.pug

block content    
    div(style="text-align:center;align-items :center;")
        h1 Categories
        div(class="cat-grid")
            div(class="cat-mem")   
                a(class="cat-text") Electronics
                br
    
            