.nav-tweak{
    height: 50px;
    
}
.login{
    width:50%;
    
    border-radius: 40px;
    border: 1px solid black;
    margin: 30px;
    padding: 10px;
}

body
{   
    scroll-behavior: smooth;
    background-image: url("back.jpg");
    font-family: 'Roboto',sans-serif;
    margin : 0px;
    color:#ffffff;
    display: flex;
}
.bttn
{
    border-radius: 40px; font-size:30px ;padding-left:5% ;padding-right:5%;
    font-weight: bolder;
    font-family: 'Gotham',sans-serif;
}
.content input
{
    text-align: center;
    align-items: center;
    align-content: center;
    
    
}
.si-name
{
    padding-bottom: 10px;
}

.nav-bar1 {
    background-color: rgba(0, 0, 0, 0.593);
    
    font-size: 30px;
    color : #ffffff;
    
    position: fixed;
    top:0;
    width: 100%;
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: center;
    
    
}
.nav-bar1 a {
    margin-left: 10%;
    display :flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.nav-bar1 a:hover {
    border-bottom: 2px solid #ffffff ;
    
}
.home-txt{
    color: #ffffff;
    padding-top:20px;
    margin-bottom: 15px;
    font-family: 'Didact Gothic',sans-serif;
}
.overlay {
    position: absolute; /* Sit on top of the page content */
     /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.296); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  .nav-link{
      
      color:#ffffff;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
  }
  
  .cat-mem{
      display: flex;
      background-color: #0a010195;
      text-align: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      align-items: center;
      border-radius: 20px;
      
      
  }
  .cat-img{
      max-width: 100%;
  }
  #clip {
    position: absolute;
    clip: rect(0, 240px, 200px, 0);
    max-width: 100%;
    /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
  }
  .cat-grid{
      margin-left: 20%;
      display :flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      justify-items: center;
      background: url("/vendor/images/electronics.jpg");
      width: 15%;
      height: 30%;
      border-radius: 20px;
  }
  .cat-text{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 200%;
  }